<div class="theme-changer" id="theme">
	<button type="button" class="btn btn-primary" onclick="changeTheme()">
		<i class="fa-solid changer"></i>
	</button>
</div>
<script>
	const icon = document.querySelector("#theme i");
	document.addEventListener("DOMContentLoaded", () => {
		const theme = localStorage.getItem("theme");
		icon.classList.add(theme !== "dark" ? "fa-moon" : "fa-sun");
		setTheme(theme);
	});

	const changeTheme = () => {
		const theme =
			document.body.getAttribute("data-bs-theme") === "dark" ? "light" : "dark";
		setTheme(theme);
	};

	const setTheme = (theme) => {
		document.body.setAttribute("data-bs-theme", theme);

		// Change button
		icon.classList.toggle("fa-moon");
		icon.classList.toggle("fa-sun");

		// Local Storage
		localStorage.setItem("theme", theme);
	};
</script>

<style>
	.theme-changer {
		position: fixed;
		top: 50%;
		right: 0;
		margin: 1px;
		transform: translateY(-50%);
	}

	.changer {
		animation: bounceIn 10s infinite;
	}
</style>
