<div class="position-fixed bottom-0 end-0 m-3 d-none" style="z-index: 100">
	<button class="btn btn-success" style="height: 40px;">
		<i class="fa-brands fa-discord animated-contact"></i>
	</button>
</div>

<style>
.animated-contact {
	animation: 2s heartBeat infinite;
}
</style>
