<footer class="container-fluid bg-secondary-subtle border-top rounded">
  <div class="row ">
    <div class="col-12 text-center p-3 mt-2">
      <div class="row fs-4 social">
        <div class="col-md-6 d-flex mx-auto justify-content-between">
          <a href="#">
            <i class="fa-brands fa-discord"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-tiktok"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    animation: borderAnim 3s infinite;
  }

  .social a {
    color: var(--bs-brand-color);
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }

  .social a:hover {
    color: #fff;
  }
</style>